<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	  
	  <form action="/login" method="POST">
		  <input name="user_id" type="text" placeholder="id"/>
		  <input name="user_pw" type="password" placeholder="pw"/>
		  <button type="submit">로그인</button>
	  </form>
	  
  </body>
</html>
